@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff3e2;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
}

.app {
  text-align: center;
}

.logo {
  margin: 5rem 0 2rem;
  height: 200px;
}

.btn-primary {
  background-color: $clr-red;
  font-family: inherit;
  color: white;
}
.container {
  max-width: $width;
  margin: 0 auto;
}
.form {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
button {
  padding: 1rem;
  font-size: 20px;
  text-align: center;
  border-radius: 7px;
  border: none;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05);
}

input {
  outline-color: $clr-secondary;
}

button {
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    filter: brightness(110%);
  }
}

.shopping-list {
  list-style-type: none;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  li {
    font-size: 1.5rem;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 7px;
    color: #555;
    cursor: pointer;
    min-width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
    &:hover {
      color: $clr-light;
      background-color: $clr-red;
    }
  }
}

.btn-trash {
  position: fixed;
  top: 2rem;
  right: 2rem;
  box-shadow: none;
  background-color: transparent;
  border: none;
  svg {
    width: 35px;
    height: 35px;
    color: $clr-red;
  }
}

.cart-msg {
  margin-top: 2rem;
  font-size: 2rem;
  color: $clr-red;
}
.hide {
  display: none;
}
